<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
          <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">

  </head>
  <body>
{% include 'accounts/side_navbar.html' %}



     <div id="content" class="p-4 p-md-5 pt-5">
                <table style="width:100%; z-index:1;" border=1>
                        <tr>
                          <th>Date</th>
                          <th>Attendance</th>

                        </tr>

                        {% for course1,course2 in attendance %}
                        <tr>
                         <td>{{ course1 }}</td>
                         <td>{{ course2 }}</td>
                        </tr>
                        {% endfor %}
                      </table>
      </div>
        </div>






    
  </body>
</html>